---
title: Home
layout: default
pagination: 
  enabled: true
  trail: 
	before: 1
	after: 1
---
<div class="infinite-scroll-container list-group list-group-flush">
	{% for post in paginator.posts %}
	<article class="post list-group-item px-0">
		<h2><a class="text-decoration-none" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
		<p>{{ post.abstract }} <a href="{{ post.url }}" title="{{ post.title }}" class="badge badge-primary">Read on<i class="far fa-arrow-alt-circle-right ml-1"></i></a></p>
		<ul class="list-inline text-truncate text-muted small meta">
			<li class="list-inline-item time"><i class="far fa-calendar-alt fa-fw mr-1"></i>{{ post.date | date_to_string }}</li>
			{% if post.tags.size > 0 %}<li class="list-inline-item tags"><i class="fab fa-slack-hash fa-fw mr-1"></i>{{ post.tags | sort | join: ", " }}</li>{% endif %}
		</ul>
	</article>
	{% endfor %}
</div>

{% if paginator.total_pages > 1 %}

<nav aria-label="Page navigation">
	<ul class="pagination">
		{% if paginator.previous_page %}
		<li class="page-item">
			<a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl }}" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		{% endif %}
		{% if paginator.next_page %}
		<li class="page-item">
			<a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl }}" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
		{% endif %}
	</ul>
</nav>

{% endif %}